:root{
    --svgposx: 250px;
    --svgposy: 250px;
}




.buttons{
    display: block;
    width: 100px;
    height: 25px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    float: right;
    background-color: white;
    margin: 10px;
}


#login{
    background-color: black;
    color: white;
    margin-right: 30px;
}

.graphic{
    position: absolute;
    border: 2px solid black;
    top: 45%;
    left: 45%;
    max
}

svg{
    
}


#svg1{
    /* position: relative; */
    top: 100px;
}

#svg2{
}

#svg3{}

#svg4{
}

#svg5{
}