:root{
    --svgposx: 250px;
    --svgposy: 250px;
}




.buttons{
    display: block;
    width: 100px;
    height: 25px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    float: right;
    background-color: white;
    margin: 10px;
}


#login{
    background-color: black;
    color: white;
    margin-right: 30px;
}

#desgin{
    border: 2px red solid;
    width: min-content;
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.circle{
    display: block;
    width: 15rem;
    height: 15rem;
    background-color: yellow;
    opacity: 50%;
    border-radius: 100%;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
}
.stream{
    margin: 2rem;
    width: 50%;
    font-family: "Poppions", sans-serif;
}




.navbar{
}

.title{
    font-family: "Poppions", sans-serif;
    font-weight: bolder;
}

