<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
      .collection {
        padding: 1rem;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        padding-bottom: 3rem;
      }
      .file-container {
        position: relative;
        display: flex;
        aspect-ratio: 1/0.75;
        width: fit-content;
        align-items: center;
        justify-content: center;
        float: left;
        /* flex: 1; */
      }

      .file-container > img {
        width: 120px;
        margin: 1.5rem;
      }
      .file-container > span {
        position: absolute;
        bottom: 0%;
      }
      .addButton {
        width: 150px;
        position: fixed;
        aspect-ratio: 1/0.25;
        border: none;
        border-radius: 20px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: bold;
        float: right;
        background-color: rgb(12, 247, 12);
        margin: 10px;
        color: aliceblue;
        bottom: 0%;
        right: 0%;
      }
      .profile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .profile > span {
        text-align: center;
        height: fit-content;
        margin-left: 10px;
      }
      .circle {
        padding-top: 11px;
        padding-left: 7px;
        padding-right: 7px;
        display: flex;
        width: 40px;
        aspect-ratio: 1/1;
        border: 1px black solid;
        border-radius: 100%;
        align-items: center;
        overflow: hidden;
      }
      .circle > img {
        width: 40px;
        padding-right: 1rem;
      }
    </style>
    <style>
      .modal {
        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(63, 63, 63, 0.438);
        transition: all 0.4s;
        visibility: hidden;
        opacity: 0;
      }
      .content {
        position: absolute;
        background: white;
        padding: 1em 2em;
        border-radius: 4px;
      }
      .modal:target {
        visibility: visible;
        opacity: 1;
      }
      .box-close {
        color: #000000;
        cursor: pointer;
        text-decoration: none;
        font-size: 25px;
        font-family: "Poppions", sans-serif;
        position: absolute;
        left: 93%;
        top: 5%;
      }

      .content input {
        border-radius: 30px 30px 30px 30px;
        margin: 10px;
        width: 195px;
        height: 35px;
        border: none;
        background-color: white;
        text-align: center;
        box-shadow: -2px 2px 1px 1px;
        font-family: "Poppions", sans-serif;
      }
    </style>
    <style>
      .form-container {
        width: 100vw;
        height: 100vh;
        background-color: #7b2cbf;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .upload-files-container {
        position: relative;
        background-color: #f7fff7;
        width: 420px;
        padding: 30px 60px;
        border-radius: 40px;
        font-family: "Poppions", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px,
          rgba(0, 0, 0, 0.28) 0px 6px 6px;
      }
      .drag-file-area {
        border: 2px dashed #7b2cbf;
        border-radius: 40px;
        margin: 10px 0 15px;
        padding: 30px 50px;
        width: 350px;
        text-align: center;
      }
      .drag-file-area .upload-icon {
        font-size: 50px;
      }
      .drag-file-area h3 {
        font-size: 26px;
        margin: 15px 0;
      }
      .drag-file-area label {
        font-size: 19px;
      }
      .drag-file-area label .browse-files-text {
        color: #7b2cbf;
        font-weight: bolder;
        cursor: pointer;
      }
      .browse-files span {
        position: relative;
        top: -25px;
      }
      .default-file-input {
        opacity: 0;
      }
      .cannot-upload-message {
        background-color: #ffc6c4;
        font-size: 17px;
        display: flex;
        align-items: center;
        margin: 5px 0;
        padding: 5px 10px 5px 30px;
        border-radius: 5px;
        color: #bb0000;
        display: none;
      }
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      .cannot-upload-message span,
      .upload-button-icon {
        padding-right: 10px;
      }
      .cannot-upload-message span:last-child {
        padding-left: 20px;
        cursor: pointer;
      }
      .file-block {
        color: #f7fff7;
        background-color: #7230ab;
        transition: all 1s;
        width: 390px;
        position: relative;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 15px;
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
      }
      .file-info {
        display: flex;
        align-items: center;
        font-size: 15px;
      }
      .file-icon {
        margin-right: 10px;
      }
      .file-name,
      .file-size {
        padding: 0 3px;
      }
      .remove-file-icon {
        cursor: pointer;
      }
      .progress-bar {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 4.5%;
        width: 0;
        height: 5px;
        border-radius: 25px;
        background-color: #4bb543;
      }
      .upload-button {
        background-color: #7b2cbf;
        color: #f7fff7;
        display: flex;
        align-items: center;
        font-size: 18px;
        border: none;
        border-radius: 20px;
        margin: 10px;
        padding: 7.5px 50px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="profile">
      <div class="circle">
        <img src="male-icon.png" alt="icon" srcset="" />
      </div>

      <span>Username</span>
    </div>
    <div class="collection">
      <div class="file-container" id="file5">
        <img src="open-folder-outline-icon.png" alt="folder" />
        <span>file1</span>
      </div>
    </div>
    <div id="add">
      <a class="addButton" href="#popup-box">+ Add</a>
    </div>
    <div id="popup-box" class="modal">
      <div class="content">
        <link
          href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined"
          rel="stylesheet"
        />
        <form class="form-container" action="/upload" method="post" enctype="multipart/form-data">
          <div class="upload-files-container">
            <span class="box-close material-icons-outlined cancel-alert-button"
                >cancel</span
              >
            <div class="drag-file-area">
              <span class="material-icons-outlined upload-icon">
                file_upload
              </span>
              <h3 class="dynamic-message">Drag & drop any file here</h3>
              <label class="label">
                or
                <span class="browse-files">
                  <input name="file" type="file" class="default-file-input" />
                  <span class="browse-files-text">browse file</span>
                  <span>from device</span>
                </span>
              </label>
            </div>
            <span class="cannot-upload-message">
              <span class="material-icons-outlined">error</span> Please select a
              file first
              <span class="material-icons-outlined cancel-alert-button"
                >cancel</span
              >
            </span>
            <div class="file-block">
              <div class="file-info">
                <span class="material-icons-outlined file-icon"
                  >description</span
                >
                <span class="file-name"> </span> |
                <span class="file-size"> </span>
              </div>
              <span class="material-icons remove-file-icon">delete</span>
              <div class="progress-bar"></div>
            </div>
            <button type="submit" class="upload-button">Upload</button>
          </div>
        </form>
      </div>
    </div>


    <script>
      var isAdvancedUpload = (function () {
        var div = document.createElement("div");
        return (
          ("draggable" in div || ("ondragstart" in div && "ondrop" in div)) &&
          "FormData" in window &&
          "FileReader" in window
        );
      })();
      console.log(isAdvancedUpload)

      let draggableFileArea = document.querySelector(".drag-file-area");
      let browseFileText = document.querySelector(".browse-files");
      let uploadIcon = document.querySelector(".upload-icon");
      let dragDropText = document.querySelector(".dynamic-message");
      let fileInput = document.querySelector(".default-file-input");
      let cannotUploadMessage = document.querySelector(
        ".cannot-upload-message"
      );
      let cancelAlertButton = document.querySelector(".cancel-alert-button");
      let uploadedFile = document.querySelector(".file-block");
      let fileName = document.querySelector(".file-name");
      let fileSize = document.querySelector(".file-size");
      let progressBar = document.querySelector(".progress-bar");
      let removeFileButton = document.querySelector(".remove-file-icon");
      let uploadButton = document.querySelector(".upload-button");
      let fileFlag = 0;

      fileInput.addEventListener("click", () => {
        fileInput.value = "";
        console.log(fileInput.value);
      });

      fileInput.addEventListener("change", (e) => {
        console.log(" > " + fileInput.value);
        uploadIcon.innerHTML = "check_circle";
        dragDropText.innerHTML = "File Dropped Successfully!";
        uploadButton.innerHTML = `Upload`;
        fileName.innerHTML = fileInput.files[0].name;
        fileSize.innerHTML =
          (fileInput.files[0].size / 1024).toFixed(1) + " KB";
        uploadedFile.style.cssText = "display: flex;";
        progressBar.style.width = 0;
        fileFlag = 0;
      });

      uploadButton.addEventListener("click", () => {
        let isFileUploaded = fileInput.value;
        if (isFileUploaded != "") {
          if (fileFlag == 0) {
            fileFlag = 1;
            var width = 0;
            var id = setInterval(frame, 50);
            function frame() {
              if (width >= 390) {
                clearInterval(id);
                uploadButton.innerHTML = `<span class="material-icons-outlined upload-button-icon"> check_circle </span> Uploaded`;
              } else {
                width += 5;
                progressBar.style.width = width + "px";
              }
            }
          }
        } else {
          cannotUploadMessage.style.cssText =
            "display: flex; animation: fadeIn linear 1.5s;";
        }
      });

      cancelAlertButton.addEventListener("click", () => {
        cannotUploadMessage.style.cssText = "display: none;";
      });

      if (isAdvancedUpload) {
        [
          "drag",
          "dragstart",
          "dragend",
          "dragover",
          "dragenter",
          "dragleave",
          "drop",
        ].forEach((evt) =>
          draggableFileArea.addEventListener(evt, (e) => {
            e.preventDefault();
            e.stopPropagation();
          })
        );

        ["dragover", "dragenter"].forEach((evt) => {
          draggableFileArea.addEventListener(evt, (e) => {
            e.preventDefault();
            e.stopPropagation();
            uploadIcon.innerHTML = "file_download";
            dragDropText.innerHTML = "Drop your file here!";
          });
        });

        draggableFileArea.addEventListener("drop", (e) => {
          uploadIcon.innerHTML = "check_circle";
          dragDropText.innerHTML = "File Dropped Successfully!";
          document.querySelector(
            ".label"
          ).innerHTML = `drag & drop or <span class="browse-files"> <input type="file" class="default-file-input" style=""/> <span class="browse-files-text" style="top: -23px; left: -20px;"> browse file</span> </span>`;
          uploadButton.innerHTML = `Upload`;

          let files = e.dataTransfer.files;
          fileInput.files = files;
          console.log(files[0].name + " " + files[0].size);
          console.log(document.querySelector(".default-file-input").value);
          fileName.innerHTML = files[0].name;
          fileSize.innerHTML = (files[0].size / 1024).toFixed(1) + " KB";
          uploadedFile.style.cssText = "display: flex;";
          progressBar.style.width = 0;
          fileFlag = 0;
        });
      }

      removeFileButton.addEventListener("click", () => {
        uploadedFile.style.cssText = "display: none;";
        fileInput.value = "";
        uploadIcon.innerHTML = "file_upload";
        dragDropText.innerHTML = "Drag & drop any file here";
        uploadButton.innerHTML = `Upload`;
      });
    </script>
    <script>
      $(".box-close").click(()=>{
        window.location.href = "#";
      })
    </script>
  </body>
</html>
