:root{
    --svgposx: 250px;
    --svgposy: 250px;
}




.buttons{
    display: block;
    width: 100px;
    height: 25px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    float: right;
    background-color: white;
    margin: 10px;
}


#login{
    background-color: black;
    color: white;
    margin-right: 30px;
}

#desgin{
    /* border: 2px red solid; */
    width: min-content;
    position: absolute;
    right:0%;
    bottom: 0%;
}

.circle{
    display: block;
    width: 15rem;
    height: 15rem;
    background-color: yellow;
    opacity: 50%;
    border-radius: 100%;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
}
.stream{
    margin: 1rem;
    max-width: 50%;
    min-height: 350px;
    /* border: red solid 2px; */
    font-family: "Poppions", sans-serif;
    font-size: 1.75rem;
}

.title{
    font-family: "Poppions", sans-serif;
    font-weight: bolder;
}

.points{
    /* border: gray 2px solid; */
    orientation:portrait;
    width: fit-content;
    font-family: 'Poppions', sans-serif;
}

.point > img{
    padding: 5px;
    width: 75px;
    height: 75px;
    /* float: left; */
}
.point > h2{
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}

.point{
    padding: 20px;
}

.modal {
    align-items: center;
    display: flex;
    justify-content: center; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(63, 63, 63, 0.438);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.content {
    position: absolute;
    background: white;
    padding: 1em 2em;
    border-radius: 4px;
    /* display: flex;
    justify-content: center; */
} 
.modal:target {
    visibility: visible;
    opacity: 1;
}
.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    font-family: "Poppions", sans-serif;
}


.content input{
    border-radius: 30px 30px 30px 30px;
    margin: 10px; 
    width: 195px;
    height: 35px;
    border: none;
    background-color: white;
    text-align: center;
    box-shadow: -2px 2px 1px 1px;
    font-family: "Poppions", sans-serif;
}
#loginBtn{
    width: 201px;
    background-color: yellow;
    color: black;
}
.line{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 10%;
    border: #0000004b 0.1em solid;
}