<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DFS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <script defer src="index.js"></script>
</head>
<body>
    <div class="circle"></div>
    <div class="navbar">
        
        <span class="title">DFS</span>
        <a id="login" class="buttons" href="#popup-box">Login</a>
        <button id="Sign" class="buttons">Sign Up</button>
    </div>

    <div class="stream">
        <h2 id="lines"></h2>
    </div>

    <div class="points">
        <div class="point">
            <img src="./blockchain-icon.png" alt="" srcset="">
            <h2>Distributed</h2>
        </div>
        <div class="point">
            <img src="check-mark-circle-line-icon.png" alt="" srcset="">
            <h2>Available all time</h2>
        </div>
        <div class="point">
            <img src="key-line-icon.png" alt="" srcset="">
            <h2>Secure</h2>
        </div>


    </div>
    <div id="desgin">
        <iframe src="animation.html" frameborder="0" width="500px" height="450px"></iframe>
    </div>

    <div id="popup-box" class="modal">
        <div class="content">
            <form action="/login" method="post">
                <input placeholder="Email" type="email" name="email" id="email" required><br>
                <input placeholder="Password" type="password" name="password" id="password" required><br>
                <input type="submit" id="loginBtn" value="Login">
            </form>
            <div class="line"></div>
            <a href="#"
               class="box-close">
                x
            </a>
        </div>
    </div>

    
    
    
    
</body>
</html>